<a href="/users"><img class="homepage-photo" src="https://lh3.googleusercontent.com/-SuA4bB5DLiU/UkxiZ9Pr_VI/AAAAAAAACjA/nCU_qawET_w/w2048-h1362/M%2BBODY_wertz_0016_cc.jpg" alt="">
    <div>
        <h6 class="homepage-text">Drop in and see what others are climbing in your area. 
            Maybe you can even find a belay partner, boulderering buddy, or just a someone 
            to grab a bite with.</h6>
    </div>
</a>