<div>
    <div class='homepage-img-div'>
    <a href="/users">

        <div class="homepage-button">GO</div>
        <h6 class="homepage-text">Drop in and see what others are climbing in your area! Maybe you can even find a belay partner, boulderering buddy,
            or just someone to grab a bite with at the cliff.</h6>
    </a>

</div>
