<!DOCTYPE html>
<html>

<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>

    <div class='app-title'>

      <a href='/'>
        <div class='header-text'>
          CLI<span>M</span>BS
        </div>
      </a>
    </div>


  </header>
  <main>
    <h2>{{pageTitle}}</h2>
    {{{body}}}
  </main>

</body>

</html>