<!DOCTYPE html>
<html>

<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/animations.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>

    <div class='app-title'>

      <a href='/'>
        <div class='header-text'>
          CLI<span>M</span>BERS
        </div>
      </a>
    </div>


  </header>
  <main>
    <div></div>
    <h2>{{pageTitle}}</h2>
    {{{body}}}
  </main>
  <footer>
  <br>
  </footer>

</body>

</html>