body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #173e43;
  background-color: #dddfd4;
}

header {
  background-color: #3fb0ac;
}

main {
  padding: 0 75px;
}

.app-title {
  display: flex; 
  justify-content: center;
}

.index-photo {
  border-radius: 25px;
  max-width: 200px;
}

.button-colors {
  background-color: #fae596;
  color: #173e43;
  text-decoration: none;
}

