body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #173e43;
  background-color: #dddfd4;
}

header {
  background-color: #3fb0ac;
}

.header-text {
  color: #dddfd4;
  font-size: 50px;
  padding: 10px 0;
}

main {
  padding: 0 75px;
}

.app-title {
  display: flex; 
  justify-content: center;
}

.path {
  color: #173e43;
  padding-bottom: 25px;
}

.path-color {
    color: #173e43;
}

.card-shadow {
  /* border-radius: 15px; */
  -webkit-box-shadow: 8px 8px 8px -8px #777;
  -moz-box-shadow: 8px 8px 8px -8px #777;
       box-shadow: 8px 8px 8px -8px #777;
}


.index-photo {
  max-width: 200px;
  border: 4px;
  padding-bottom: 5px;
}

.profile-photo {
  max-width: 400px;
}

.index-profile-card {
  max-width: 220px;
  padding: 10px;
  margin: 25px;
  background-color: white;
}

.button-colors {
  background-color: #fae596;
  color: #173e43;
  text-decoration: none;
}

.index-label-color {
  color: #300032;
}
