body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #173e43;
  background-color: #dddfd4;
}

header {
  background-color: #3fb0ac;
}

.homepage-photo {
  width: 90vw;
  padding-bottom: 10px;
}

.homepage-text {
  color: #173e43;
  padding: 20px 0px;

  line-height: 30px;
}

.homepage-button {
  border: 2px solid black;
  padding: 10px;
  background-color: #3fb0ac;
  color: #dddfd4;
}

.homepage-img-div {
  background-image: url('https://lh3.googleusercontent.com/-SuA4bB5DLiU/UkxiZ9Pr_VI/AAAAAAAACjA/nCU_qawET_w/w2048-h1362/M%2BBODY_wertz_0016_cc.jpg');
  height: 100%;
  width: 100%;
}
.header-text {
  color: #dddfd4;
  font-size: 50px;
  padding: 15px 0;
  font-family: 'Titillium Web', sans-serif;
}

main {
  padding: 0 75px;
}


.app-title {
  display: flex; 
  justify-content: center;
  -webkit-box-shadow: 8px 8px 8px -8px #777;
  -moz-box-shadow: 8px 8px 8px -8px #777;
       box-shadow: 8px 8px 8px -8px #777;
}

.path {
  color: #173e43;
  padding-bottom: 25px;
}

.path-color {
    color: #173e43;
}

.path-color:hover {
  color: #3fb0ac;
}

.card-shadow {
  /* border-radius: 15px; */
  -webkit-box-shadow: 8px 8px 8px -8px #777;
  -moz-box-shadow: 8px 8px 8px -8px #777;
       box-shadow: 8px 8px 8px -8px #777;
}


.index-photo {
  width: 330px;
  height: 330px;
  border: 4px;
  padding-bottom: 5px;
}

.profile-photo {
  max-width: 400px;
  max-height: 400px;
}

.index-profile-card {
  max-width: 370px;
  padding: 20px;
  margin: 25px 25px;
  background-color: white;
  font-family: 'Permanent Marker';
}

.button-colors {
  background-color: #FE5D26;
  color: #dddfd4;
  text-decoration: none;
}

.index-label-color {
  color: #300032;
}

.card-content {
  line-height: 30px;
  font-family: 'Titillium Web', sans-serif;
}

.form-div {
  width: 600px;
}

.buttons-after-form {
  padding-top: 30px;
}

.top-buttons {
  display: flex;
  padding: 0 5px 20px 0;
}

.top-button {
  padding-right: 10px;
}

.bottom-button {
  padding-right: 10px;
}

.bottom-buttons {
  display: flex;
  padding: 0 5px 20px 0;
}

/* .warning:hover {
  background: black;
} */

footer {
  padding: 20px 0;
}


.homepage-photo:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.homepage-photo {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.horizontal {
  max-width: 700px; 
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
}

.partner-status-color {
  color: red;
}