
<div>
    {{#each users}}
        <div class='index-photo-div'>
            <img class='climber-photo index-photo' src="{{this.photo}}" alt='climber\'s photo'>
        </div>
        <div>
            {{this.username}}
            {{this.age}} - {{this.gender}}
        </div>
    {{/each}}
</div>