<div class="top-routes-view">
  <a href="/users">Home</a> / New Climber
</div>
<div class="card">
  <h4>Add Climber Info</h4>
  <div>
    <form action="/users" method="POST">
      <div class="form-input">
        <label for="username">Username</label>
        <input type="text" name="username" required/>
      </div>

      <div class="form-input">
        <label for="email">Email</label>
        <input type="text" name="email" required/>
      </div>

      <div class="form-input">
        <label for="age">Age</label>
        <input type="number" name="age" />
      </div>

      <div class="form-input">
        <label for="gender">Gender</label>
        <input type="text" name="gender" />
      </div>

      <div class="form-input">
        <label for="photo">Photo</label>
        <input type="text" name="photo" />
      </div>

      <div class="button-container">
        <input class="submit-button" type="submit" value="Create User">
        <a href="/users">Cancel</a>
      </div>
    </form>
  </div>
</div>