<div class="path">
    <a class='path-color' href="/users">Climbers</a> / New Climber
</div>
<div>
    <div class="form-div">
        <form action="/users" method="POST">

            <div>
                <label for="username">Username:</label>
                <input type="text" name="username" required/>
            </div>

            <div>
                <label for="email">Email: </label>
                <input type="text" name="email" required/>
            </div>

            <div>
                <label for="age">Age: </label>
                <input type="number" name="age" />
            </div>

            <div>
                <label for="gender">Gender: </label>
                <input type="text" name="gender" />
            </div>
            <div>
                <label for="photo">Link to Profile Pic (best to make it a square one): </label>
                <input type="text" name="photo" value='https://goo.gl/yYQiTT' required />
            </div>
            <div>
                <p>What is your favorite style of climbing? </p>
                <input type="radio" id="favoriteStyle1" name="likesToClimb" value="Sport Climbing">
                <label for="favoriteStyle1">Sport Climbing</label>

                <input type="radio" id="favoriteStyle2" name="likesToClimb" value="Traditional Climbing">
                <label for="favoriteStyle2">Traditional Climbing</label>

                <input type="radio" id="favoriteStyle3" name="likesToClimb" value="Bouldering">
                <label for="favoriteStyle3">Bouldering</label>

                <input type="radio" id="favoriteStyle3" name="likesToClimb" value="All of It">
                <label for="favoriteStyle3">All of It</label>
            </div>
            <div>
                <p>What would you consider your skill level? </p>
                <input type="radio" id="skillLevel1" name="skillLevel" value="Beginner">
                <label for="skillLevel1">Beginner</label>

                <input type="radio" id="skillLevel2" name="skillLevel" value="Intermediate">
                <label for="skillLevel2">Intermediate</label>

                <input type="radio" id="skillLevel3" name="skillLevel" value="Advanced">
                <label for="skillLevel3">Advanced</label>
            </div>
            <div class='buttons-after-form'>
                <button class="btn waves-effect waves-light button-colors" type="submit" name="action">Add Climber</button>
                <button class="btn waves-effect waves-light button-colors">
                    <a href="/users">Cancel</a>
            </div>
            </button>
        </form>
    </div>
</div>